# Created by .ignore support plugin (hsz.mobi)
.idea
auto-testcase/drivers/
auto-testcase/log/
keyword-driver-uiauto/
"\347\273\203\344\271\240\344\273\243\347\240\201/learning-100-days/venv/Include/"
"\347\273\203\344\271\240\344\273\243\347\240\201/venv/Include/"
"\347\273\203\344\271\240\344\273\243\347\240\201/\345\237\272\347\241\200\350\257\255\346\263\225\347\273\203\344\271\240/venv/Include/"
"\347\273\203\344\271\240\344\273\243\347\240\201/\345\244\226\346\230\237\344\272\272\345\205\245\344\276\2652/__pycache__/bullet2.cpython-38.pyc"
auto-testcase/report/
keyword-driver-uiauto/log
keyword-driver-uiauto/report
venv/Lib/site-packages/
# ArgImagePlugin.py
#venv/Lib/site-packages/BdfFontFile.py
#venv/Lib/site-packages/BmpImagePlugin.py
#venv/Lib/site-packages/BufrStubImagePlugin.py
#venv/Lib/site-packages/ContainerIO.py
#venv/Lib/site-packages/CurImagePlugin.py
#venv/Lib/site-packages/DcxImagePlugin.py
#venv/Lib/site-packages/EpsImagePlugin.py
#venv/Lib/site-packages/ExifTags.py
#venv/Lib/site-packages/FitsStubImagePlugin.py
#venv/Lib/site-packages/FliImagePlugin.py
#venv/Lib/site-packages/FontFile.py
#venv/Lib/site-packages/FpxImagePlugin.py
#venv/Lib/site-packages/GbrImagePlugin.py
#venv/Lib/site-packages/GdImageFile.py
#venv/Lib/site-packages/GifImagePlugin.py
#venv/Lib/site-packages/GimpGradientFile.py
#venv/Lib/site-packages/GimpPaletteFile.py
#venv/Lib/site-packages/GribStubImagePlugin.py
#venv/Lib/site-packages/Hdf5StubImagePlugin.py
#venv/Lib/site-packages/IcnsImagePlugin.py
#venv/Lib/site-packages/IcoImagePlugin.py
#venv/Lib/site-packages/ImImagePlugin.py
#venv/Lib/site-packages/Image.py
#venv/Lib/site-packages/ImageChops.py
#venv/Lib/site-packages/ImageCms.py
#venv/Lib/site-packages/ImageColor.py
#venv/Lib/site-packages/ImageDraw.py
#venv/Lib/site-packages/ImageDraw2.py
#venv/Lib/site-packages/ImageEnhance.py
#venv/Lib/site-packages/ImageFile.py
#venv/Lib/site-packages/ImageFileIO.py
#venv/Lib/site-packages/ImageFilter.py
#venv/Lib/site-packages/ImageFont.py
#venv/Lib/site-packages/ImageGL.py
#venv/Lib/site-packages/ImageGrab.py
#venv/Lib/site-packages/ImageMath.py
#venv/Lib/site-packages/ImageMode.py
#venv/Lib/site-packages/ImageOps.py
#venv/Lib/site-packages/ImagePalette.py
#venv/Lib/site-packages/ImagePath.py
#venv/Lib/site-packages/ImageQt.py
#venv/Lib/site-packages/ImageSequence.py
#venv/Lib/site-packages/ImageShow.py
#venv/Lib/site-packages/ImageStat.py
#venv/Lib/site-packages/ImageTk.py
#venv/Lib/site-packages/ImageTransform.py
#venv/Lib/site-packages/ImageWin.py
#venv/Lib/site-packages/ImtImagePlugin.py
#venv/Lib/site-packages/IptcImagePlugin.py
#venv/Lib/site-packages/JpegImagePlugin.py
#venv/Lib/site-packages/McIdasImagePlugin.py
#venv/Lib/site-packages/MicImagePlugin.py
#venv/Lib/site-packages/MpegImagePlugin.py
#venv/Lib/site-packages/MspImagePlugin.py
#venv/Lib/site-packages/OleFileIO.py
#venv/Lib/site-packages/PIL/
#venv/Lib/site-packages/PSDraw.py
#venv/Lib/site-packages/PaletteFile.py
#venv/Lib/site-packages/PalmImagePlugin.py
#venv/Lib/site-packages/PcdImagePlugin.py
#venv/Lib/site-packages/PcfFontFile.py
#venv/Lib/site-packages/PcxImagePlugin.py
#venv/Lib/site-packages/PdfImagePlugin.py
#venv/Lib/site-packages/Pillow-9.0.1.dist-info/
#venv/Lib/site-packages/Pillow_PIL-0.1.dev0-py3.8.egg-info/
#venv/Lib/site-packages/PixarImagePlugin.py
#venv/Lib/site-packages/PngImagePlugin.py
#venv/Lib/site-packages/PpmImagePlugin.py
#venv/Lib/site-packages/PsdImagePlugin.py
#venv/Lib/site-packages/SgiImagePlugin.py
#venv/Lib/site-packages/SpiderImagePlugin.py
#venv/Lib/site-packages/SunImagePlugin.py
#venv/Lib/site-packages/TarIO.py
#venv/Lib/site-packages/TgaImagePlugin.py
#venv/Lib/site-packages/TiffImagePlugin.py
#venv/Lib/site-packages/TiffTags.py
#venv/Lib/site-packages/WalImageFile.py
#venv/Lib/site-packages/WmfImagePlugin.py
#venv/Lib/site-packages/XVThumbImagePlugin.py
#venv/Lib/site-packages/XbmImagePlugin.py
#venv/Lib/site-packages/XpmImagePlugin.py
#venv/Lib/site-packages/__pycache__/injson.cpython-38.pyc
#venv/Lib/site-packages/__pycache__/typing_extensions.cpython-38.pyc
#venv/Lib/site-packages/__pycache__/win32_setctime.cpython-38.pyc
#venv/Lib/site-packages/anyio-3.5.0.dist-info/
#venv/Lib/site-packages/anyio/
#venv/Lib/site-packages/arrow-1.2.2.dist-info/
#venv/Lib/site-packages/arrow/
#venv/Lib/site-packages/asgiref-3.5.0.dist-info/
#venv/Lib/site-packages/asgiref/
#venv/Lib/site-packages/click-8.0.3.dist-info/
#venv/Lib/site-packages/click/
#venv/Lib/site-packages/colorama-0.4.4.dist-info/
#venv/Lib/site-packages/colorama/
#venv/Lib/site-packages/dateutil/
#venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/
#venv/Lib/site-packages/et_xmlfile/
#venv/Lib/site-packages/h11-0.13.0.dist-info/
#venv/Lib/site-packages/h11/
#venv/Lib/site-packages/injson-0.4.1-py3.8.egg-info/
#venv/Lib/site-packages/injson.py
#venv/Lib/site-packages/loguru-0.6.0.dist-info/
#venv/Lib/site-packages/loguru/
#venv/Lib/site-packages/openpyxl-3.0.9.dist-info/
#venv/Lib/site-packages/openpyxl/
#venv/Lib/site-packages/python_dateutil-2.8.2.dist-info/
#venv/Lib/site-packages/sniffio-1.2.0.dist-info/
#venv/Lib/site-packages/sniffio/
#venv/Lib/site-packages/starlette-0.18.0.dist-info/
#venv/Lib/site-packages/starlette/
#venv/Lib/site-packages/sweet.http-0.0.3-py3.8.egg-info/
#venv/Lib/site-packages/sweet.web-0.0.9-py3.8.egg-info/
#venv/Lib/site-packages/sweet/
#venv/Lib/site-packages/sweetest-1.4.4-py3.8.egg-info/
#venv/Lib/site-packages/sweetest/__pycache__/
#venv/Lib/site-packages/sweetest/keywords/__pycache__/
#venv/Lib/site-packages/typing_extensions-4.1.1.dist-info/
#venv/Lib/site-packages/typing_extensions.py
#venv/Lib/site-packages/uvicorn-0.17.4.dist-info/
#venv/Lib/site-packages/uvicorn/
#venv/Lib/site-packages/win32_setctime-1.1.0.dist-info/
#venv/Lib/site-packages/win32_setctime.py
venv/Scripts/uvicorn.exe
"\347\273\203\344\271\240\344\273\243\347\240\201/\345\244\226\346\230\237\344\272\272\345\205\245\344\276\2652/__pycache__/button2.cpython-38.pyc"
"\347\273\203\344\271\240\344\273\243\347\240\201/\345\244\226\346\230\237\344\272\272\345\205\245\344\276\2652/__pycache__/game_stats2.cpython-38.pyc"
"\347\273\203\344\271\240\344\273\243\347\240\201/\345\244\226\346\230\237\344\272\272\345\205\245\344\276\2652/__pycache__/scoreboard2.cpython-38.pyc"
keyword-driver-uiauto/element/
keyword-driver-uiauto/start.py
keyword-driver-uiauto/sweetest/__init__.py
keyword-driver-uiauto/sweetest/__pycache__/
keyword-driver-uiauto/sweetest/data.py
keyword-driver-uiauto/sweetest/elements.py
keyword-driver-uiauto/sweetest/globals.py
keyword-driver-uiauto/sweetest/junit.py
keyword-driver-uiauto/sweetest/keywords/
keyword-driver-uiauto/sweetest/lib/
keyword-driver-uiauto/sweetest/log.py
keyword-driver-uiauto/sweetest/parse.py
keyword-driver-uiauto/sweetest/test.py
keyword-driver-uiauto/sweetest/utility.py
keyword-driver-uiauto/sweetest/windows.py
keyword-driver-uiauto/testcase/

